<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lumino - Dashboard</title>

    <link href="{$res_path}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$res_path}/css/datepicker3.css" rel="stylesheet">
    <link href="{$res_path}/css/bootstrap-table.css" rel="stylesheet">
    <link href="{$res_path}/css/styles.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="{$res_path}/js/html5shiv.js"></script>
    <script src="{$res_path}/js/respond.min.js"></script>
    <![endif]-->


</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> User <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li><a href="../Attendance/index"><span class="glyphicon glyphicon-th"></span> 考勤管理</a></li>
        <li class="active"><a href="../Class/index"><span class="glyphicon glyphicon-th"></span> 课程情况管理</a></li>
        <li><a href="../Course/index"><span class="glyphicon glyphicon-list-alt"></span> 课程管理</a></li>
        <li><a href="../Student/index"><span class="glyphicon glyphicon-pencil"></span> 学生管理</a></li>
        <li><a href="../Teacher/index"><span class="glyphicon glyphicon-pencil"></span> 教师管理</a></li>
        <li role="presentation" class="divider"></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">课程情况管理</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">课 程 情 况 管 理</div>
                <div class="panel-body">
                    <div id="toolbar" >
                        <button id="remove" class="btn btn-danger" disabled>
                            <i class="glyphicon glyphicon-remove"></i> 删除
                        </button>
                        <button id="add" class="btn btn-success" data-toggle="modal"
                                data-target="#myModal">
                            <i class="glyphicon glyphicon-plus" ></i> 增加
                        </button>
                    </div>
                    <table id="table" data-toggle="table" data-url=""  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true" >Item ID</th>
                            <th data-field="cour_id" data-sortable="true">课程编号</th>
                            <th data-field="cour_name">课程名称</th>
                            <th data-field="stu_id">学 号</th>
                            <th data-field="stu_name">学生姓名</th>
                            <th data-field="num">旷课次数</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="list" id="vo">
                        <tr>
                            <td></td>
                            <td>{$vo.cid}</td>
                            <td>{$vo.course.cname}</td>
                            <td>{$vo.student.sid}</td>
                            <td>{$vo.student.sname}</td>
                            <td>{$vo.absence_number}</td>
                        </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- 模态框（Modal） 增加-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    增加班级
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div id="check1">
                            <label  class="col-lg-2 col-lg-offset-1 control-label">课程编号</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" placeholder="请输入课程编号"  id="course_id" name="course_id">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="check2">
                            <label  class="col-lg-2 col-lg-offset-1 control-label">学 号</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" placeholder="请输入学号"  id="stu_id" name="stu_id" >
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id='close' type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="add()">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script src="{$res_path}/js/jquery-1.11.1.min.js"></script>
<script src="{$res_path}/js/bootstrap.min.js"></script>
<script src="{$res_path}/js/bootstrap-table.js"></script>
<script>
    var $remove = $('#remove');
    var $table = $('#table');
    $table.on('check.bs.table uncheck.bs.table ' +
            'check-all.bs.table uncheck-all.bs.table', function () {
        $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
        // save your data, here just save the current page
        selections = getIdSelections();
        // push or splice the selections if you want to save all data selections
    });

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.cour_id+","+row.stu_id;
        });
    }

    $remove.click(function () {

        var ids = getIdSelections();
        $.get("../Class/delete",{
            'ids[]':ids
        },function(data,status){
            var str = "";
            for(var o in data)
            {
                if(data[o]==1)
                    str += "编号："+o+" 删除成功! \n";
                else
                    str += "编号："+o+" 删除失败！\n";
            }
            alert(str);
        });

        $remove.prop('disabled', true);
        window.location.reload();
    });

    //使用Ajax,增加班级
    function add() {

        var course_id = $("#course_id").val();
        var stu_id = $("#stu_id").val();

        $.get("../Class/add",{
            "course_id":course_id,
            "stu_id":stu_id,
        },function(data,status){
            if(data["success"]){
                $("#close").click();
                alert("添加成功！");
                setTimeout("",300);
                window.location.reload();
            }
            else{
                $("#close").click();
                alert("添加失败！");
                setTimeout("",300);
                window.location.reload();
            }
        });
    }

</script>
</body>
</html>